<body>
    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-xl-6 col-lg-8 pt-4 ">
        
                <h1>welcome to<i class="fas fa-book"></i><b>Bookers</b> !!</h1>
    
                <p>In <i class="fas fa-book"></i><b>Bookers,</b></p><br>
    
                <p>you can share and exchange your opinions , inpressions , and emotions</p>
    
                <p>about various books!</p>
    
                <div class="section1 text-center">
                    <%= link_to "Log in", user_session_path, class: "btn btn-info col-9 px-0" %>
                </div>
    
                <div class="section1 text-center">
                    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success col-9 px-0 mt-3 mb-5"  %>
                </div>
            </div>
        </div>
    </div>
</body>


