<body>
    <div class="container">
        
            <h1>welcome to<i class="fas fa-book"></i><b>Bookers</b> !!</h1>
    
            <p>In <i class="fas fa-book"></i><b>Bookers,</b></p><br>
    
            <p>you can share and exchange your opinions , inpressions , and emotions</p>
    
            <p>about various books!</p>
    
            <div class="row">
                <%= link_to "Log in", user_session_path, class: "btn btn-info w-25 px-0" %>
            </div>
    
            <div class="row">
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success w-25 px-0 mt-3 mb-3"  %>
            </div>
        
    </div>
</body>


